[submodule "TF"]
	path = TF
	url = git@github.com:OSS-Cosmic/TF.git
[submodule "TFSamples-Media"]
	path = TFSamples-Media
	url = git@github.com:OSS-Cosmic/TFSamples-Media.git
[submodule "prelude"]
	path = prelude
	url = git@github.com:OSS-Cosmic/buck2-prelude.git
